<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="camera_joint" type="fixed">
        <!-- Origin obtained by eye -->
        <parent link="base_link" />
        <child link="camera_link" />
        <origin xyz="0.27 0 0.1" rpy="0 0 0" />
    </joint>

    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.025 0.090 0.025" />
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <geometry>
                <box size="0.025 0.090 0.025" />
            </geometry>
        </collision>
    </link>
</robot>